
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аксессуары</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="frame-30-1">
<div class="frame-30-2">
<p class="text-3"><span class="text-white">Внешний аккумулятор Xiaomi </span></p>
</div>
<div class="frame-31-4">
<p class="text-5"><span class="text-white">110 000 сум</span></p>
<div class="frame-17-6">
<p class="text-7"><span class="text-white">99 000 сум</span></p>
</div>
<div class="frame-15-8">
<p class="text-9"><span class="text-white">от 11 385 сум/мес</span></p>
</div>
</div>
</div>

</body>
</html>
