<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аксессуары</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="node-1">
    <div class="flex-block">
        <div class="block">
            <div class="frame-30-2">
                <p class="text-3"><span class="text-white">{{Название}}</span></p>
            </div>
            <div class="frame-31-4">
                <div class="frame-17-6">
                    <p class="text-7">
                        <span class="text-white">{{Цена}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
